
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.noResultsMessage {
  font-size: 1.2rem;
  color: red;
  text-align: center;
  margin-top: 20px;
}
